#locations-block {
    height: 112vh;
    width: 100%;
}

#carousel-block {
    width: 60%;
    height: 70vh;
    margin: 50px auto;
    position: relative;

    border-radius: 20px;
}

.carousel-button {
    position: absolute;
    top: 45%;
  
    z-index: 1;
  
    border: none;
    cursor: pointer;
    background-color: transparent;
    
    color: black;
} 
  
.carousel-button.left {
    left: -50px;
}
  
.carousel-button.right {
    right: -50px;
}
  
.blocked {
    display: none;
}

#location-photo {
    border-radius: 20px;
    border: 1px solid black;
}

#location-name {
    text-align: center;
    font-size: 30px;
}